:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background-color: #fff;
  /* max-width: 1920px; */
  margin: auto;
  font-family: tiempos_headlineregular;  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@font-face {
  font-family: 'tiempos_headlinebold';
  src: url('/fonts/tiemposheadline-bold-webfont.eot');
  src: url('/fonts/tiemposheadline-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tiemposheadline-bold-webfont.woff2') format('woff2'),
       url('/fonts/tiemposheadline-bold-webfont.woff') format('woff'),
       url('/fonts/tiemposheadline-bold-webfont.ttf') format('truetype'),
       url('/fonts/tiemposheadline-bold-webfont.svg#tiempos_headlinebold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'tiempos_headlineregular';
  src: url('/fonts/tiemposheadline-regular-webfont.eot');
  src: url('/fonts/tiemposheadline-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tiemposheadline-regular-webfont.woff2') format('woff2'),
       url('/fonts/tiemposheadline-regular-webfont.woff') format('woff'),
       url('/fonts/tiemposheadline-regular-webfont.ttf') format('truetype'),
       url('/fonts/tiemposheadline-regular-webfont.svg#tiempos_headlineregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'tiempos_headlinemedium';
  src: url('/fonts/tiemposheadline-medium-webfont.eot');
  src: url('/fonts/tiemposheadline-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tiemposheadline-medium-webfont.woff2') format('woff2'),
       url('/fonts/tiemposheadline-medium-webfont.woff') format('woff'),
       url('/fonts/tiemposheadline-medium-webfont.ttf') format('truetype'),
       url('/fonts/tiemposheadline-medium-webfont.svg#tiempos_headlinemedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'tiempos_headlinelight';
  src: url('/fonts/tiemposheadline-light-webfont.eot');
  src: url('/fonts/tiemposheadline-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tiemposheadline-light-webfont.woff2') format('woff2'),
       url('/fonts/tiemposheadline-light-webfont.woff') format('woff'),
       url('/fonts/tiemposheadline-light-webfont.ttf') format('truetype'),
       url('/fonts/tiemposheadline-light-webfont.svg#tiempos_headlinelight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura_ptmedium';
  src: url('/fonts/futuraptmedium-webfont.eot');
  src: url('/fonts/futuraptmedium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futuraptmedium-webfont.woff2') format('woff2'),
       url('/fonts/futuraptmedium-webfont.woff') format('woff'),
       url('/fonts/futuraptmedium-webfont.ttf') format('truetype'),
       url('/fonts/futuraptmedium-webfont.svg#futura_ptmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'futura_ptlight';
  src: url('/fonts/futuraptlight-webfont.eot');
  src: url('/fonts/futuraptlight-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futuraptlight-webfont.woff2') format('woff2'),
       url('/fonts/futuraptlight-webfont.woff') format('woff'),
       url('/fonts/futuraptlight-webfont.ttf') format('truetype'),
       url('/fonts/futuraptlight-webfont.svg#futura_ptlight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'futura_ptbold';
  src: url('/fonts/futuraptbold-webfont.eot');
  src: url('/fonts/futuraptbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futuraptbold-webfont.woff2') format('woff2'),
       url('/fonts/futuraptbold-webfont.woff') format('woff'),
       url('/fonts/futuraptbold-webfont.ttf') format('truetype'),
       url('/fonts/futuraptbold-webfont.svg#futura_ptbold') format('svg');
  font-weight: normal;
  font-style: normal;

}